@model CreateRoleViewModel

@{
    ViewBag.Title = "Create New Role";
}

<h1 class="text-center text-white"><br />Create New Role</h1><br />

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group label">
                <label asp-for="RoleName" class="text-white" style="font-size:20px"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div style="text-align:center">
                <button style="width:auto" type="submit" class="viewButton">Create Role</button>
            </div>
        </form>
    </div>
</div>