<div style="text-align: center">
    <h1 class="text-success"><br />Email confirmed</h1><br />
    <div style="text-align: center; margin-left: auto; margin-right:auto" class="text-white">
        <h3>You can now <a asp-action="Login">log in</a> to your account.</h3>
    </div>
</div>
