<div style="text-align: center">
    <h1 class="text-success"><br />Registration successful</h1><br />
    <h5 class="text-white">Before you can Login, please confirm your email, by clicking on the confirmation link in your mailbox.</h5>
</div>
