@model ItemEditViewModel

@{
    ViewBag.Title = "Edit Item";
    var photoPath = "~/images/" + (Model.ExistingPhotoPath ?? "no_item.jpg");
}

    <h1 align="center">Edit Item</h1>

    <form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post" class="mt-3">

        <input hidden asp-for="Id" />
        <input hidden asp-for="ExistingPhotoPath" />

        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Price" class="form-control" placeholder="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Category" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="Category" class="custom-select mr-sm-2"
                        asp-items="Html.GetEnumSelectList<Category>()">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input asp-for="Photo" class="custom-file-input form-control">
                    <label class="custom-file-label">Click here to change photo</label>
                </div>
            </div>
        </div>

        @*Display the existing item photo*@
        <div class="form-group row col-sm-4 offset-4">
            <img class="imageThumbnail" src="@photoPath" asp-append-version="true" />
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="index" asp-controller="home" class="btn btn-primary">Cancel</a>
            </div>
        </div>

        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });
            </script>
        }
    </form>