<div class="text-white" style="text-align:center">
    <br />
    <h4 class="text-danger">You do not have permission to view this resource</h4>
    <br />
    <img src="~/images/acces_denied.png" style="height:300px; width:300px" />
</div>