<h4 class="text-white" style="text-align:center">
    <br />
        Thank you for application, one of our employee will get back to you within 48 hours.
    <br />
    <br /> 
        Please click <a asp-controller="Home" asp-action="Index">here</a> to navigate to the home page.
</h4>