<h4 class="text-white" style="text-align:center">
    <br />
    Order placed succesfully.
    <br />
    <br />
    Please click <a asp-controller="Home" asp-action="Index">here</a> to navigate to the home page.
</h4>