@model ForgotPasswordViewModel

<h1 align="center" class="text-white"><br />Forgot Password</h1><br />
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="text-white" style="font-size:20px"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div style="text-align:center">
                <br />
                <button type="submit" class="viewButton">Submit</button>
            </div>
        </form>
    </div>
</div>